@import '../../css/header.css';
:root{
  --bg-ecommerce-primary: rgba(44, 44, 44, 1);
  --bg-ecommerce-secound: rgba(60, 60, 60, 0.5);
  --text-primary: #ffffff;
}
body {
  margin: 0;
  background-color: var(--bg-ecommerce-primary);
}
main{
  display: flex;
  margin:  20px auto;
  width: 100%;
  max-width: 1000px;
  padding-top: 70px;
  
}
.game-canvas {
  flex: 50%;
  width: 100%;
  height: 100vw;
  max-width: 500px;
  max-height:500px;
  margin-bottom: -5px;
}
.keys {
  background: rgba(220, 220, 220, 0.6);
  flex: 50%;
  font-family: 'Lato', sans-serif;
  text-align: center;
  height: 500px;
  box-sizing: border-box;
  margin:  0px auto;
  padding-top: 20%;
}
.up {
  position: relative;
  top: -15px;
}
.chevron::before {
  border-style: solid;
  border-width: 8px 8px 0 0;
  content: '';
  display: inline-block;
  height: 20px;
  width: 20px;
  top: -10px;
  position: relative;
  transform: rotate(-45deg);
}
.chevron.down::before {
  transform: rotate(135deg);
  top:-35px;
}
.chevron.right::before {
  transform: rotate(45deg);
  top: -30px;
  left: -5px;
}
.chevron.left::before {
  transform: rotate(225deg);
  top: -30px;
  left: 5px;
}
.arr {
  cursor: pointer;
  width: 65px;
  height: 65px;
  text-align: center;
  line-height: 100px;
  background: gray;
  color: white;
  font-size: 50px;
  border-right: 10px solid #ccc;
  border-bottom: 10px solid #ccc;
  border-left: 10px solid #ddd;
  border-top: 10px solid #eee;
  display: inline-block;
  margin: 5px;
  transition: all .05s linear;
  user-select: none;
}
.arr:active {
  background: #555;
}