@import './header-page.css';
body{
    background: var(--color-bg-body);
}
*{
    color: var(--color-text-main);
}
main{
    max-width: 1100px;
    margin: 20px auto;
    padding: 0px 30px;
}
.slider-container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.slider-izquierdo, .slider-derecho{
    position: relative;
}
.slider-izquierdo i, .slider-derecho i{
    font-size: 40px;
}
.slider-izquierdo i:hover, .slider-derecho i:hover{
    transform: scale(1.1)
}
.slider-item{
    width: 100%;
    height: 300px;
    padding: 0px 5px;
    position: relative;
    border-radius: 20px;
    
}
.slider-item img, .slider-item p{
    width: 100%;
    height: 100%;
}
.slider-item img{
    object-fit: cover;
    border-radius: 20px;
}
.slider-item p{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    inset: 0px;
    position: absolute;
    font: 500 3rem 'Poppins';
    color: var(--color-bg-body);
    text-shadow: 2px 2px 5px var(--skin-color);
}
.slider-item p:before{
    width: 100%;
    height: 100%;
}
.products-cards{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin: 30px 0px;
}
.card{
    flex: 1;
    min-width: 250px;
}
.card img{
    width: 100%;
    height: 230px;
    object-fit: cover;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.characteristics{
    padding: 0.5rem 1rem;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    margin-top: -5px;
    position: relative;
    background: var(--color-bg-second);
}
.characteristics h3{
    font: 500 1.4rem 'Poppins';
}
.characteristics p{
    font: 300 1.3rem normal;
}
.characteristics span{
    font: 100 1.1rem 'Poppins';
}
.characteristics button{
    width: 100%;
    margin-top: 1rem;
    padding: 10px 0px;
    height: 2.5rem;
    border: none;
    border-radius: 20px;
    color: var(--color-white);
    background: var(--color-bg-third);
    font: 900 20px normal;
    cursor: pointer;
}
.characteristics button:hover{
    background: var(--color-bg-fourth);
}
.editors-pick{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    max-width: 1300px;
}
.editor-pick, .editor-pick:hover::before, .editor-pick img{
    border-radius: 20px;
}
.editor-pick{
    flex: 1;
    min-width: 300px;
    height: 300px;
    position: relative;
    overflow: hidden;
}
.editor-pick:hover::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.4);
}
.editor-pick img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.text-editor{
    width: 200px;
    height: 50px;
    color: white;
    inset: 20px auto auto 20px;
    position: absolute;
    font: 700 25px normal;
}
.text-editor span{
    color: var(--skin-color);
}
.circle-editor{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 250px;
    height: 250px;
    color: rgba(0, 0, 0, 0.9);
    padding: 0px 65px 55px 20px;
    border: 1px solid var(--color-white);
    border-radius: 50%;
    position: absolute;
    inset: auto -205px -205px auto;
    font: 900 16px 'Poppins';
    background: rgba(255, 255, 255, 0.4);;
    transition: all 0.8s ease;
}
.editor-pick:hover .circle-editor{
    inset: auto -70px -80px auto;
}